 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
        {{> assets-header }}
    </head>
<body class="hljs-dark">
  {{> nav }}
  <div id="content">
      <div class="container">
          <div class="row">
              <div class="col-xs-10 col-sm-9 col-md-9 col-lg-9 bg-white">
                  {{{ contents }}}
              </div>
              <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3 well">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="{{ ghLink }}"><i class="fa fa-lg fa-fw fa-edit"></i><span class="hidden-sm-down">Edit on GitHub</span></a>
                    <p class="hidden-sm-down">Help us improve this documentation by editing its sources directly on the GitHub repository.</p>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#save-bookmark" class="save-bookmark"><i class="fa fa-lg fa-fw fa-bookmark"></i><span class="hidden-sm-down">Bookmark page</span></a>
                    <p class="hidden-sm-down">Save frequently visited pages to your browser's localStorage for quick access. Bookmarks will be available through the top menu.</p>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link to-instapaper" href="#to-instapaper"><i class="fa fa-lg fa-fw fa-thumb-tack"></i><span class="hidden-sm-down">Save to Instapaper</span></a></a>
                  </li>
                </ul>
              </div>
          </div>
      </div>
  </div>
  {{> assets-footer }}
</body>
</html>